.home {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-content: center;

    padding: 15px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;

    height: 40px;

    color: #575757;

    font-size: 12px;
}